<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <ion-img src="https://d2wgbggetablcw.cloudfront.net/Filters/desktop/disney-belle-princess.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Lançamento</ion-card-subtitle>
          <ion-card-title>A Bela e a Fera</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Aqui você encontra os melhores filmes, noticias e catálogos dos novos filmes em cartaz.</p>
        </ion-card-content>
      </ion-card>

</ion-content>
